body{
    height: 2000px;
}
/*轮播图开始*/
.slide-box{
    position: relative;
}
.slide{
    position: relative;
    height: 460px;
}
.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    position: absolute;
    top:50%;
    margin-top:-35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;
}
.prev-btn{
    left:234px;
}
.next-btn{
    right:0px;
}
.prev-btn:hover,.next-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border:2px solid #4f4e56;
}
.btns{
    width: 128px;
    position: absolute;
    right: 0px;
    bottom:20px;
}
.list{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    padding: 20px 0;
    width: 234px;
}
.list-item>a{
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
}
.list-item>a:hover{
    background: #ff6700;
}
.list-item:hover .sub-list{
    display: block;
}
.icon-arrow{
    float: right;
    margin-right: 15px;
}
.sub-list{
    background: #fff;
    position: absolute;
    left:234px;
    top:0;
    height: 100%;
    display: none;
    border-top:1px solid #e0e0e0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
}
.sub-list-3{
    width: 795px;
}
.sub-list ul{
    float: left;
    height: 100%;
    width: 265px;
}
.sub-list li{

    overflow: hidden;
    padding: 18px 15px 18px 20px;
}
.sub-list a{
    float: left;
}
.list-img-box{
    width: 168px;
}
.list-img-box:hover .list-title{
    color: #ff6700;
}
.list-img{
    vertical-align: middle;
}
.list-title{
    color: #333;
    font-size: 14px;
}
.sub-list a.buy-btn{
    float: right;
    width: 58px;
    height: 22px;
    border:1px solid #ff6700;
    color:#ff6700;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
}
.sub-list a.buy-btn:hover{
    color: #fff;
    background: #ff6700;
}
/*轮播图结束*/
/*频道列表开始*/
.channel-box{
    margin-top: 14px;
    margin-bottom: 26px;
    /*overflow: hidden;*/
    height: 170px;
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left;
}
.channel-list ul{
    overflow: hidden;
    padding: 3px 3px 0;
}
.channel-list li{
    width: 76px;
    height: 82px;
    float: left;
    position: relative;
}
.channel-list li:hover i,.channel-list li:hover span{
    color: #fffcf9;
}
.channel-list i{
    display: block;
    font-size: 24px;
    text-align: center;
    color:rgba(255,255,255,0.7);
    margin-top: 18px;
}
.channel-list span{
    display: block;
    text-align: center;
    color:rgba(255,255,255,0.7);
    font-size: 12px;
}
.line-right{
    position: absolute;
    right: 0;
    top:9px;
    width: 1px;
    height: 64px;
    background: #665e57;

}
.line-bottom{
    width: 64px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left:6px;
    background: #665e57;
}

.channel-list li.right::after{
     content: "";
     position: absolute;
     right: 0;
     top:9px;
     width: 1px;
     height: 64px;
    background: #665e57;

}
.channel-list li.bottom::before{
    content: "";
    width: 64px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left:6px;
    background: #665e57;

}
.promo-list{
    float: left;
}
.promo-list a{
    float: left;
    margin-left: 15px;

}
.promo-list a.list-one{
    margin-left: 14px;
}
.promo-list a:hover{
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1);
}
.promo-list img{
    width: 316px;
    height: 170px;
    display: block;
}
/*频道列表结束*/
/*明星单品开始*/
.star-box{
    position: relative;
}
.star-title{
    font-size: 22px;
    color: #333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box{
    position: absolute;
    right: 0px;
    top:20px;
}
.more-box i{
    border:1px solid #e0e0e0;
    color:#e0e0e0;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.more-box i.icon-left{
    border-right: none;
}
.more-box i.icon-active{
    color: #b0b0b0;
}
.more-box i.icon-active:hover{
    color: #ff6700;
}
.pro-list{
    overflow: hidden;
    margin-bottom: 40px;
}
.pro-list ul{
    width: 2480px;
}
.pro-item{
    width: 234px;
    height: 301px;
    background: #fafafa;
    padding-top: 39px;
    float: left;
    margin-right: 14px;
}
.pro-img-box{
    display: block;
    text-align: center;
}
.pro-img{
    width: 160px;
    height: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    color: #212121;
    text-align: center;
    font-size: 14px;
    margin-top: 22px;
}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}
.pro-price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
    margin-top:12px;
}
.color-orange{
    border-top:1px solid #ff6700;
}
.color-green{
    border-top:1px solid #83c44e;
}
.color-blue{
    border-top:1px solid #2196f3;
}
.color-red{
    border-top:1px solid #e53935;
}
.color-dark-green{
    border-top:1px solid #00c0a5;
}
/*明星单品结束*/
/*家电结束*/
.content-box{
    background: #f5f5f5;
    padding-top: 60px;
}
.homeelec-box{
    position: relative;
}
.tab-btns{
    color: #424242;
    font-size: 16px;
    position: absolute;
    right: 0;
    top:17px;
}
.tab-btns li{
    float: left;
    margin-left: 30px;
    font-weight: 200;
}
.tab-btns .active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-bd{
    overflow: hidden;
}
.box-left{
    float: left;
}
.box-right{
    float: right;
    width: 992px;
}
.bd-item{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-left: 14px;
}
.bd-item-top{
    margin-bottom: 14px;
}
.bd-img-box{
    display: block;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 14px;
}
.bd-img{
    width: 150px;
    height: 150px;
}
.bd-title{
    color: #333;
    font-size: 14px;
    text-align: center;
    display: block;
}
.bd-dest{
    color: #b0b0b0;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
.bd-price{
    color: #ff6700;
    font-size: 14px;
    text-align: center;
}



/*家电结束*/







