body{
    height: 2000px;
}
/*轮播图开始*/
.slide-box{
    position: relative;
}
.slide{
    position: relative;
    height: 460px;
}
.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    position: absolute;
    top:50%;
    margin-top:-35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;
}
.prev-btn{
    left:234px;
}
.next-btn{
    right:0px;
}
.prev-btn:hover,.next-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border:2px solid #4f4e56;
}
.btns{
    width: 128px;
    position: absolute;
    right: 0px;
    bottom:20px;
}
.list{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    padding: 20px 0;
    width: 234px;
}
.list-item>a{
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
}
.list-item>a:hover{
    background: #ff6700;
}
.list-item:hover .sub-list{
    display: block;
}
.icon-arrow{
    float: right;
    margin-right: 15px;
}
.sub-list{
    background: #fff;
    position: absolute;
    left:234px;
    top:0;
    height: 100%;
    display: none;
    border-top:1px solid #e0e0e0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
}
.sub-list-3{
    width: 795px;
}
.sub-list ul{
    float: left;
    height: 100%;
    width: 265px;
}
.sub-list li{

    overflow: hidden;
    padding: 18px 15px 18px 20px;
}
.sub-list a{
    float: left;
}
.list-img-box{
    width: 168px;
}
.list-img-box:hover .list-title{
    color: #ff6700;
}
.list-img{
    vertical-align: middle;
}
.list-title{
    color: #333;
    font-size: 14px;
}
.sub-list a.buy-btn{
    float: right;
    width: 58px;
    height: 22px;
    border:1px solid #ff6700;
    color:#ff6700;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
}
.sub-list a.buy-btn:hover{
    color: #fff;
    background: #ff6700;
}
/*轮播图结束*/
