/*css reset*/
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*公共样式*/
/*banner 开始*/
.banner{
    height: 120px;
    background: url("../img/banner.jpg") no-repeat 50% 50%;
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
}
/*banner 结束*/

