<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red{
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="msg" @keyup = "filterArr()">
        <button @click="fn()">add</button>
        <ul>
           <li v-for="obj in showArr" @click="obj.isColor = !obj.isColor" :class="{red:obj.isColor}">{{obj.name}}</li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'',
                arr:[],
                showArr:[]
            },
            methods:{
                fn(){
                    this.arr.push({name:this.msg,isColor:false});
                    this.msg = "";
                    this.arr.sort(function(x,y){
                        return x.name > y.name;
                    });
                    this.showArr = this.arr;
                },
                filterArr(){
                    this.showArr = this.arr.filter((obj) => {
                        return obj.name.includes(this.msg);
                    });
                }
            }
            
        });
    
    
    
    
    
    
    
    </script>








</body>

</html>