.img01,.img02{
    width: 100%;
    display: block;
}
.img02{
    display: none;
}
#home-rewards{
    /*height: 220px;*/
    background: #0f0f0f;
}
#container{
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    /*height: 100%;*/
}
.rewards-mark{
    width: 260px;
    height: 145px;
    background:  #0f0f0f url("../imgs/rewards_bg.png") 0 0 no-repeat;
    background-size: contain;
    float: left;
    padding: 75px 0 0 60px;
}
.rewards-content{
    width: 430px;
    float: right;
    height: 100%;
}
.rewards-mark p{
    color: #fff;
    font-size: 18px;
}
.rewards-mark img{
    width: 160px;
}
.rewards-content h3{
     font-size: 25px;
     color: #fff;
    margin-top: 40px;
 }
.rewards-content p{
    font-size: 16px;
    color: #fff;
}
.rewards-btns{
    margin-top: 20px;
}
.rewards-btns .btns{
    width: 114px;
    height: 50px;
    border:1px solid #b89f7a;
    background: #000000;
    text-align: center;
    line-height: 50px;
    color:#b89f7a;
    float: left;
    margin-right: 20px;
}
.rewards-btns .btns:hover{
    background: #b89f7a;
    color: #ffffff;
}
#app{
    background:#efebe8 url(../imgs/app-web.png) 0 0 no-repeat;
    background-size:contain;
    padding-top:23% ;
    position: relative;
    /*height: 300px;*/
    
}

#app img{
    width: 130px;
    height: 130px;
    position: absolute;
    left:41%;
    top:50%;
    -webkit-transform: translateY(-50%);
}
.app-text{
    width:35%;
    position: absolute;
    left:41%;
    top:50%;
    /*-webkit-transform: translateY(-50%);*/
    -webkit-transform:  translateY(-50%) translateX(147px);

}
.app-text p{
    font-size: 18px;
    line-height: 28px;
    color: #3d3d3d;
    margin-bottom: 10px;

}
.app-text a{
    color: #b89f7a;
    font-size: 16px;
}
.btns{
    display: none;
}
#collection{
    padding:80px 16px;
}
#collection h3{
    color:#3d3d3d;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}
#collection .collection-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
    color:#8B8B8B;
}
.pro-list{
    /*display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-lines:multiple;*/
    /* 新的弹性和模型*/
    display: flex;
    /* 水平居中*/
    -webkit-justify-content: center;
    /* 换行显示*/
    -webkit-flex-wrap:wrap;
}
.pro-list li{
    width: 240px;
    height: 280px;
    margin: 15px;
    background: #eeeeee;
}






@media screen and (max-width: 991px) {
    .img02{
        display: block;
    }
    .img01{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .rewards-mark,.rewards-content{
        width: 100%;
    }
    #home-rewards{
        padding: 0 35px;
    }
    .rewards-mark{
        padding: 55px 0 0 0;
        text-align: center;
        height: 85px;
    }
    #container{
        width: 100%;
    }
    .rewards-content{
        text-align: center;
    }
    .rewards-content h3{
        margin-bottom: 30px;
    }
    .rewards-btns {
        margin-top: 40px;
    }
    .rewards-btns .btns{
        width: 80%;
        float: none;
        display: block;
        margin:0 auto 10px;
    }
    #app{
        background-image: url(../imgs/app-mobile.png);
        padding-top:98% ;
    }
    #app img{
        display: none;
    }
    .app-text{
        width: 92%;
        padding: 4%;
        position: static;
        -webkit-transform:  translateY(0) translateX(0);
        text-align: center;
    }
    .app-text p{
        text-align: center;
        margin-bottom: 40px;
    }
    .btns{
        display: block;
        width: 220px;
        height: 80px;
        margin:10px auto 0;
        background: url("../imgs/udp-starbucks-cn.svg") center center no-repeat;
    }











}